.icon-links {
    display: flex;
    gap: 16px; 
  }
  
  .title {
    font-size: 20px; 
    font-weight: bold; 
  }
  
  .spacer {
    flex: 1;
  }

  .mat-toolbar {
    background-color: #000000;
    color: #ffffff;
  }

  i {
    color: #ffffff;
  }

  i:hover {
    transition: 0.2s;
    color: #999999;
  }
  