<mat-toolbar color="primary">
    <span class="spacer"></span>
    <span class="title">Processos Jurídicos</span>
    <span class="spacer"></span>
    <div class="icon-links">
        <a href="https://github.com/seu-perfil" target="_blank">
            <i class="fa-brands fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/seu-perfil" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>
        <a href="mailto:seu-email@example.com">
            <i class="fa fa-envelope"></i>
        </a>
    </div>
</mat-toolbar>